asgiref==3.2.7
certifi==2020.4.5.1
cycler==0.10.0
Django==3.0.7
django-crispy-forms==1.8.1
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1588605105042/work
olefile==0.46
Pillow==7.1.2
psycopg2==2.8.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
reportlab==3.5.26
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sqlparse==0.3.1
tornado==6.0.4
