{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'partials/_menu_logado.html' %}
<div style="background:transparent !important" class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Atualizar</th>
                        <th scope="col">Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                        <tr>
                            <td scope="row">{{ cliente.nome_cliente }}</td>
                            <td scope="row">{{ cliente.email }}</td>
                            <td><a href="{% url 'atualizar_cliente' cliente.id %}"><i class="fas fa-user-edit"></i></a></td>
                            <td><a href="{% url 'deletar_cliente' cliente.id %}"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'registrar_cliente' %}">Registrar cliente</a>
        <a href="{% url 'logado' %}"><button class="btn btn-danger">Voltar</button></a>

    </div>
</div>
        
{% endblock %}