{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/CSS.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stick-footer.css' %}">
    <title>Gerenciador Solar</title>
</head>
<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Solar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">início <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'registrar_cliente' %}">registrar cliente</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            </div>
        </nav>
    </section>
    <div style="background:transparent !important" class="jumbotron jumbotron-fluid">
        <div class="container">
            {% if user.is_authenticated %}
                <p>Olá, {{ user.username }}</p>
            {% else %}
                <a href="{% url 'login' %}"></a>
            {% endif %}
            
            <br>
            <div class="container">
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/irradiacao.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Banco de irradiação</h5>
                        <p class="card-text">Registre a irradiação das cidades aqui.</p>
                        <a href="{% url 'irradiacao_registrados' %}" class="btn btn-primary">Ir para banco de irradiação</a>
                        </div>
                    </div>
                    
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/modulos.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Banco de módulos fotovoltaicos</h5>
                        <p class="card-text">Registre um módulo fotovoltaico.</p>
                        <a href="{% url 'modulos_fotovoltaicos_registrados' %}" class="btn btn-primary">Ir para banco de módulos</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/inversor.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Banco de inversor</h5>
                        <p class="card-text">Registre um inversor.</p>
                        <a href="{% url 'inversores_registrados' %}" class="btn btn-primary">Ir para banco de inversores</a>
                        </div>
                    </div>
                </div>
            </div> 
            <br>
            <a href="{% url 'logado' %}"><button class="btn btn-primary">Voltar</button></a>
        </div>
</body>
  