{% extends 'base.html' %}
{% load static %}


{% block content %}
{% include 'partials/_menu_deslogado.html' %}
    <section>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active imagem-carrossel">
                    <img src="{% static 'img/carrossel1.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item imagem-carrossel">
                    <img src="{% static 'img/carrossel2.jpg' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <br>
    <br>
    <section>
        <div class="container">
            <div class="card-deck">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/gerenciarclientes.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Gerencie seus clientes.</p>
                    </div>
                </div>
                
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/calculos.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Faça cálculos.</p>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/orcamento.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Realize orçamentos.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
</html>