{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_menu_logado.html' %}
    <div style="background:transparent !important" class="jumbotron jumbotron-fluid">
        <div class="container">
            {% if user.is_authenticated %}
                <p>Olá, {{ user.username }}</p>
            {% else %}
                <a href="{% url 'login' %}"></a>
            {% endif %}
            
            <br>
            <h1>Página de serviços</h1>
            <div class="container">
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/calculadora.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Calculadora rápida</h5>
                        <p class="card-text">Faça cálculos preliminares aqui.</p>
                        <a href="{% url 'calculadora' %}" class="btn btn-primary">Ir para calculadora rápida</a>
                        </div>
                    </div>
                    
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/clientes.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Meus clientes</h5>
                        <p class="card-text">Informações dos clientes registrados.</p>
                        <a href="{% url 'clientes_registrados' %}" class="btn btn-primary">Ir para página dos clientes</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/database.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Banco de dados</h5>
                        <p class="card-text">Registre módulos fotovoltaicos, inversores e irradiação de cidades.</p>
                        <a href="{% url 'database' %}" class="btn btn-primary">Ir para banco de dados</a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
{% endblock %}