{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="background:transparent !important" class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        
                        <th scope="col">Atualizar</th>
                        <th scope="col">Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for orcamento in orcamentos %}
                        <tr>
                            <td scope="row">{{ orcamento.nome_cliente }}</td>
                            
                            <td><a href="#"><i class="fas fa-user-edit"></i></a></td>
                            <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        <a href="{% url 'registrar_orcamento' %}">Registrar Orçamento</a>
    </div>
</div>
{% endblock %}